# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df[:5]

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Checking to see which column could lead to confusion of the model
applicant_data_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [6]:
applicant_data_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [7]:
applicant_data_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
applicant_data_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [9]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == 'object'].index)
# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [10]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [11]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [12]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df[:5]

C:\Users\silva\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [13]:
# Create numerical variables DataFrame
numerical_variables = applicant_data_df.drop(columns=categorical_variables)


# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
concatenated_df = pd.concat(
    [encoded_df, numerical_variables],
    axis=1
)

# Review the Dataframe
concatenated_df[:5]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [14]:
# Define the target set y using the IS_SUCCESSFUL column
y = concatenated_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [15]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = concatenated_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X[:5]

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Scale both the training and testing data from the features dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
nn.add(Dense(
    units=hidden_nodes_layer1,
    input_dim=number_input_features,
    activation='relu'
))

In [24]:
# Add the second hidden layer
nn.add(Dense(
    units=hidden_nodes_layer2,
    activation='relu'
))

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(
    units=number_output_neurons,
    activation='sigmoid'
))

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [28]:
# Fit the model using 50 epochs and the training data
nn_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 838us/step - loss: 0.5756 - accuracy: 0.7201
Epoch 2/50
804/804 [==============================] - 1s 875us/step - loss: 0.5530 - accuracy: 0.7291
Epoch 3/50
804/804 [==============================] - 1s 843us/step - loss: 0.5499 - accuracy: 0.7307
Epoch 4/50
804/804 [==============================] - 1s 845us/step - loss: 0.5472 - accuracy: 0.7320
Epoch 5/50
804/804 [==============================] - 1s 839us/step - loss: 0.5463 - accuracy: 0.7336
Epoch 6/50
804/804 [==============================] - 1s 813us/step - loss: 0.5448 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 1s 813us/step - loss: 0.5439 - accuracy: 0.7349
Epoch 8/50
804/804 [==============================] - 1s 823us/step - loss: 0.5426 - accuracy: 0.7342
Epoch 9/50
804/804 [==============================] - 1s 922us/step - loss: 0.5423 - accuracy: 0.7353
Epoch 10/50
804/804 [==============================] - 1s 933us/step - loss: 0.5412 - accuracy: 0.7356
Epoch 11/50
804/804 [==============================] - 1s 982us/step - loss: 0.5415 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 1s 918us/step - loss: 0.5404 - accuracy: 0.7353
Epoch 13/50
804/804 [==============================] - 1s 908us/step - loss: 0.5399 - accuracy: 0.7366
Epoch 14/50
804/804 [==============================] - 1s 921us/step - loss: 0.5396 - accuracy: 0.7366
Epoch 15/50
804/804 [==============================] - 1s 906us/step - loss: 0.5392 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 939us/step - loss: 0.5389 - accuracy: 0.7376
Epoch 17/50
804/804 [==============================] - 1s 902us/step - loss: 0.5384 - accuracy: 0.7375
Epoch 18/50
804/804 [==============================] - 1s 903us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 19/50
804/804 [==============================] - 1s 898us/step - loss: 0.5380 - accuracy: 0.7386
Epoch 20/50
804/804 [==============================] - 1s 913us/step - loss: 0.5373 - accuracy: 0.7384
Epoch 21/50
804/804 [==============================] - 1s 998us/step - loss: 0.5373 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 1s 908us/step - loss: 0.5363 - accuracy: 0.7387
Epoch 23/50
804/804 [==============================] - 1s 922us/step - loss: 0.5368 - accuracy: 0.7397
Epoch 24/50
804/804 [==============================] - 1s 904us/step - loss: 0.5364 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 892us/step - loss: 0.5357 - accuracy: 0.7392
Epoch 26/50
804/804 [==============================] - 1s 899us/step - loss: 0.5356 - accuracy: 0.7393
Epoch 27/50
804/804 [==============================] - 1s 902us/step - loss: 0.5356 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 1s 904us/step - loss: 0.5353 - accuracy: 0.7396
Epoch 29/50
804/804 [==============================] - 1s 928us/step - loss: 0.5350 - accuracy: 0.7389
Epoch 30/50
804/804 [==============================] - 1s 943us/step - loss: 0.5351 - accuracy: 0.7395
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 32/50
804/804 [==============================] - 1s 916us/step - loss: 0.5346 - accuracy: 0.7409
Epoch 33/50
804/804 [==============================] - 1s 919us/step - loss: 0.5346 - accuracy: 0.7396
Epoch 34/50
804/804 [==============================] - 1s 895us/step - loss: 0.5338 - accuracy: 0.7389
Epoch 35/50
804/804 [==============================] - 1s 905us/step - loss: 0.5342 - accuracy: 0.7400
Epoch 36/50
804/804 [==============================] - 1s 903us/step - loss: 0.5338 - accuracy: 0.7400
Epoch 37/50
804/804 [==============================] - 1s 909us/step - loss: 0.5338 - accuracy: 0.7399
Epoch 38/50
804/804 [==============================] - 1s 914us/step - loss: 0.5338 - accuracy: 0.7398
Epoch 39/50
804/804 [==============================] - 1s 912us/step - loss: 0.5333 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 1s 936us/step - loss: 0.5335 - accuracy: 0.7389
Epoch 41/50
804/804 [==============================] - 1s 928us/step - loss: 0.5327 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 1s 967us/step - loss: 0.5332 - accuracy: 0.7393
Epoch 43/50
804/804 [==============================] - 1s 906us/step - loss: 0.5328 - accuracy: 0.7399
Epoch 44/50
804/804 [==============================] - 1s 916us/step - loss: 0.5332 - accuracy: 0.7402
Epoch 45/50
804/804 [==============================] - 1s 890us/step - loss: 0.5327 - accuracy: 0.7408
Epoch 46/50
804/804 [==============================] - 1s 901us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 47/50
804/804 [==============================] - 1s 918us/step - loss: 0.5321 - accuracy: 0.7406
Epoch 48/50
804/804 [==============================] - 1s 953us/step - loss: 0.5321 - accuracy: 0.7408
Epoch 49/50
804/804 [==============================] - 1s 921us/step - loss: 0.5323 - accuracy: 0.7408
Epoch 50/50
804/804 [==============================] - 1s 909us/step - loss: 0.5318 - accuracy: 0.7411

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [29]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5569 - accuracy: 0.7299 - 278ms/epoch - 1ms/step
Loss: 0.5568832755088806, Accuracy: 0.729912519454956

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [30]:
# Set the model's file path
file_path = Path('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

## Alternative Model 1
### Trying to add a third hidden layer to improve accuracy and diminish loss

In [31]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [32]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [33]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [34]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A1

29

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A1

15

In [36]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [37]:
# Add the first hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer1_A1,
    input_dim=number_input_features,
    activation='relu'
))

In [38]:
# Second hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer2_A1,
    activation='relu'
))

In [39]:
# Third hidden layer
nn_A1.add(Dense(
    units=hidden_nodes_layer3_A1,
    activation='relu'
))

# Output layer
nn_A1.add(Dense(
    units=number_output_neurons_A1
))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 15)                450

 dense_6 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [41]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 933us/step - loss: 1.4725 - accuracy: 0.6749
Epoch 2/50
804/804 [==============================] - 1s 977us/step - loss: 0.7104 - accuracy: 0.7240
Epoch 3/50
804/804 [==============================] - 1s 948us/step - loss: 0.7058 - accuracy: 0.7238
Epoch 4/50
804/804 [==============================] - 1s 951us/step - loss: 0.6923 - accuracy: 0.7141
Epoch 5/50
804/804 [==============================] - 1s 969us/step - loss: 0.6873 - accuracy: 0.7193
Epoch 6/50
804/804 [==============================] - 1s 961us/step - loss: 0.6545 - accuracy: 0.7175
Epoch 7/50
804/804 [==============================] - 1s 959us/step - loss: 0.6442 - accuracy: 0.7201
Epoch 8/50
804/804 [==============================] - 1s 951us/step - loss: 0.6193 - accuracy: 0.7161
Epoch 9/50
804/804 [==============================] - 1s 942us/step - loss: 0.6024 - accuracy: 0.7304
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6118 - accuracy: 0.7260
Epoch 11/50
804/804 [==============================] - 1s 956us/step - loss: 0.6226 - accuracy: 0.7279
Epoch 12/50
804/804 [==============================] - 1s 958us/step - loss: 0.6198 - accuracy: 0.7142
Epoch 13/50
804/804 [==============================] - 1s 940us/step - loss: 0.6061 - accuracy: 0.7271
Epoch 14/50
804/804 [==============================] - 1s 957us/step - loss: 0.5952 - accuracy: 0.7307
Epoch 15/50
804/804 [==============================] - 1s 967us/step - loss: 0.6026 - accuracy: 0.7294
Epoch 16/50
804/804 [==============================] - 1s 958us/step - loss: 0.6033 - accuracy: 0.7289
Epoch 17/50
804/804 [==============================] - 1s 957us/step - loss: 0.5951 - accuracy: 0.7311
Epoch 18/50
804/804 [==============================] - 1s 964us/step - loss: 0.5980 - accuracy: 0.7291
Epoch 19/50
804/804 [==============================] - 1s 959us/step - loss: 0.5876 - accuracy: 0.7339
Epoch 20/50
804/804 [==============================] - 1s 958us/step - loss: 0.5951 - accuracy: 0.7271
Epoch 21/50
804/804 [==============================] - 1s 959us/step - loss: 0.5886 - accuracy: 0.7315
Epoch 22/50
804/804 [==============================] - 1s 955us/step - loss: 0.5914 - accuracy: 0.7344
Epoch 23/50
804/804 [==============================] - 1s 997us/step - loss: 0.5919 - accuracy: 0.7324
Epoch 24/50
804/804 [==============================] - 1s 949us/step - loss: 0.5873 - accuracy: 0.7337
Epoch 25/50
804/804 [==============================] - 1s 962us/step - loss: 0.5921 - accuracy: 0.7335
Epoch 26/50
804/804 [==============================] - 1s 950us/step - loss: 0.5931 - accuracy: 0.7341
Epoch 27/50
804/804 [==============================] - 1s 952us/step - loss: 0.6030 - accuracy: 0.7162
Epoch 28/50
804/804 [==============================] - 1s 978us/step - loss: 0.5914 - accuracy: 0.7337
Epoch 29/50
804/804 [==============================] - 1s 960us/step - loss: 0.5823 - accuracy: 0.7355
Epoch 30/50
804/804 [==============================] - 1s 946us/step - loss: 0.5797 - accuracy: 0.7344
Epoch 31/50
804/804 [==============================] - 1s 975us/step - loss: 0.5838 - accuracy: 0.7344
Epoch 32/50
804/804 [==============================] - 1s 950us/step - loss: 0.5817 - accuracy: 0.7348
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7345
Epoch 34/50
804/804 [==============================] - 1s 965us/step - loss: 0.5837 - accuracy: 0.7325
Epoch 35/50
804/804 [==============================] - 1s 957us/step - loss: 0.5848 - accuracy: 0.7336
Epoch 36/50
804/804 [==============================] - 1s 957us/step - loss: 0.5799 - accuracy: 0.7349
Epoch 37/50
804/804 [==============================] - 1s 962us/step - loss: 0.5829 - accuracy: 0.7352
Epoch 38/50
804/804 [==============================] - 1s 968us/step - loss: 0.5892 - accuracy: 0.7350
Epoch 39/50
804/804 [==============================] - 1s 957us/step - loss: 0.5801 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 1s 946us/step - loss: 0.5969 - accuracy: 0.7191
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5850 - accuracy: 0.7323
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.7358
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5795 - accuracy: 0.7348
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5852 - accuracy: 0.7354
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5745 - accuracy: 0.7363
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5794 - accuracy: 0.7369
Epoch 47/50
804/804 [==============================] - 1s 986us/step - loss: 0.5739 - accuracy: 0.7353
Epoch 48/50
804/804 [==============================] - 1s 952us/step - loss: 0.5708 - accuracy: 0.7360
Epoch 49/50
804/804 [==============================] - 1s 957us/step - loss: 0.5843 - accuracy: 0.7338
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5865 - accuracy: 0.7364

## Alternative Model 2
### Taking out the STATUS and CLASSIFICATION columns assuming they lead to confusion of the model

In [42]:
# Alter the concatenated dataframe by taking out
applicant_reduced_df = applicant_data_df.drop(columns=['STATUS', 'CLASSIFICATION'])
applicant_reduced_df.head()

,APPLICATION_TYPE,AFFILIATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,ProductDev,Association,0,N,5000,1
1,T3,Independent,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,Heathcare,Trust,100000-499999,N,142590,1

In [43]:
# Create reduced categorical variables
categorical_reduced = list(applicant_reduced_df.dtypes[applicant_reduced_df.dtypes == 'object'].index)
categorical_reduced

['APPLICATION_TYPE',
 'AFFILIATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [44]:
# Use OneHotEncoder to encode this reduced dataframe
# Create and instance of OneHotEncoder
enc_1 = OneHotEncoder(sparse=False)

In [45]:
# Fit_transform the reduced df to a new variable
encoded_reduced_data = enc_1.fit_transform(applicant_reduced_df[categorical_reduced])

In [46]:
encoded_reduced_df = pd.DataFrame(
    encoded_reduced_data,
    columns=enc_1.get_feature_names(categorical_reduced)
)
encoded_reduced_df[:5]

C:\Users\silva\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Reduce numerical variables
numerical_variables_reduced = numerical_variables.drop(columns='STATUS').copy()
numerical_variables_reduced

        ASK_AMT  IS_SUCCESSFUL
0          5000              1
1        108590              1
2          5000              0
3          6692              1
4        142590              1
...         ...            ...
34294      5000              0
34295      5000              0
34296      5000              0
34297      5000              1
34298  36500179              0

[34299 rows x 2 columns]

In [48]:
# concatenate both numerical and encoded reduced dfs
concatenated_reduced_df = pd.concat(
    [numerical_variables_reduced, encoded_reduced_df],
    axis=1
)
concatenated_reduced_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

Do Not need to recreate y since it will be the same data

In [49]:
# Create X_reduced df
X_reduced = concatenated_reduced_df.drop(columns='IS_SUCCESSFUL').copy()
X_reduced.head()

,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [50]:
# Split the training data
X_red_train, X_red_test, y_red_train, y__red_test = train_test_split(X_reduced, y, random_state=1)

In [51]:
# Create a standard scaler instance
scaler_1 = StandardScaler()

X_scaler_red = scaler_1.fit(X_red_train)

In [52]:
# Scale the training and testing data
X_red_train_scaled = X_scaler_red.transform(X_red_train)
X_red_test_scaled = X_scaler_red.transform(X_red_test)

In [53]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_red_train.iloc[0])

# Review the number of features
number_input_features_A2

44

In [54]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [55]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A2 + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

22

In [56]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

11

In [57]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [58]:
# First hidden layer
nn_A2.add(Dense(
    units=hidden_nodes_layer1_A2,
    input_dim=number_input_features_A2,
    activation='relu'
))


# Second hidden layer
nn_A2.add(Dense(
    units=hidden_nodes_layer2_A2,
    activation='relu'
))

# Output layer
nn_A2.add(Dense(
    units=number_output_neurons_A2,
    activation='sigmoid'
))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 22)                990

 dense_8 (Dense)             (None, 11)                253

 dense_9 (Dense)             (None, 1)                 12

=================================================================
Total params: 1,255
Trainable params: 1,255
Non-trainable params: 0
_________________________________________________________________

In [59]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [60]:
# Fit the model
nn_A2.fit(X_red_train, y_red_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 859us/step - loss: 8005.5601 - accuracy: 0.4840
Epoch 2/50
804/804 [==============================] - 1s 859us/step - loss: 4035.0532 - accuracy: 0.4955
Epoch 3/50
804/804 [==============================] - 1s 891us/step - loss: 0.7063 - accuracy: 0.5335
Epoch 4/50
804/804 [==============================] - 1s 859us/step - loss: 0.6947 - accuracy: 0.5335
Epoch 5/50
804/804 [==============================] - 1s 943us/step - loss: 0.6915 - accuracy: 0.5335
Epoch 6/50
804/804 [==============================] - 1s 943us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 7/50
804/804 [==============================] - 1s 919us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 8/50
804/804 [==============================] - 1s 891us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 9/50
804/804 [==============================] - 1s 901us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 10/50
804/804 [==============================] - 1s 879us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 11/50
804/804 [==============================] - 1s 923us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 13/50
804/804 [==============================] - 1s 918us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 14/50
804/804 [==============================] - 1s 911us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 15/50
804/804 [==============================] - 1s 868us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 1s 943us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 1s 888us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 1s 910us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 1s 903us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 1s 892us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 1s 881us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 22/50
804/804 [==============================] - 1s 891us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 23/50
804/804 [==============================] - 1s 910us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 24/50
804/804 [==============================] - 1s 870us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 25/50
804/804 [==============================] - 1s 976us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 26/50
804/804 [==============================] - 1s 914us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 27/50
804/804 [==============================] - 1s 902us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 28/50
804/804 [==============================] - 1s 882us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 1s 900us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 1s 889us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 1s 882us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 1s 919us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 1s 950us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 1s 911us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 1s 880us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 1s 890us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 1s 886us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 1s 888us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 1s 900us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 1s 942us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 1s 915us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 1s 868us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 1s 880us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 1s 897us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 1s 900us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 1s 886us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 1s 930us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 1s 922us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 1s 862us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 1s 900us/step - loss: 0.6909 - accuracy: 0.5335

## Alternative Model 3
### Add more nodes to each of the hidden layers

In [61]:
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A3

116

In [62]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [63]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = ((number_input_features_A3 + number_output_neurons_A3) // 2) + 15

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

73

In [64]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A3 = ((hidden_nodes_layer1_A3 + number_output_neurons_A3) // 2) + 15

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A3

52

In [65]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [66]:
# First hidden layer
# Add the first hidden layer
nn_A3.add(Dense(
    units=hidden_nodes_layer1_A3,
    input_dim=number_input_features_A3,
    activation='relu'
))


# Second hidden layer
nn_A3.add(Dense(
    units=hidden_nodes_layer2_A3,
    activation='relu'
))

# Output layer
nn_A3.add(Dense(
    units=number_output_neurons_A3,
    activation='sigmoid'
))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 73)                8541

 dense_11 (Dense)            (None, 52)                3848

 dense_12 (Dense)            (None, 1)                 53

=================================================================
Total params: 12,442
Trainable params: 12,442
Non-trainable params: 0
_________________________________________________________________

In [67]:
# Compile the model
nn_A3.compile(loss='binary_crossentropy', optimizer='adam', metrics='accuracy')

In [68]:
# Fit the model
nn_A3.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 911us/step - loss: 0.5736 - accuracy: 0.7193
Epoch 2/50
804/804 [==============================] - 1s 940us/step - loss: 0.5534 - accuracy: 0.7273
Epoch 3/50
804/804 [==============================] - 1s 914us/step - loss: 0.5499 - accuracy: 0.7295
Epoch 4/50
804/804 [==============================] - 1s 912us/step - loss: 0.5485 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 1s 916us/step - loss: 0.5461 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 1s 925us/step - loss: 0.5459 - accuracy: 0.7318
Epoch 7/50
804/804 [==============================] - 1s 942us/step - loss: 0.5442 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 1s 897us/step - loss: 0.5436 - accuracy: 0.7337
Epoch 9/50
804/804 [==============================] - 1s 932us/step - loss: 0.5425 - accuracy: 0.7350
Epoch 10/50
804/804 [==============================] - 1s 897us/step - loss: 0.5420 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 1s 913us/step - loss: 0.5412 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 1s 970us/step - loss: 0.5409 - accuracy: 0.7351
Epoch 13/50
804/804 [==============================] - 1s 922us/step - loss: 0.5402 - accuracy: 0.7352
Epoch 14/50
804/804 [==============================] - 1s 923us/step - loss: 0.5399 - accuracy: 0.7372
Epoch 15/50
804/804 [==============================] - 1s 925us/step - loss: 0.5393 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 929us/step - loss: 0.5389 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 1s 924us/step - loss: 0.5382 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 935us/step - loss: 0.5385 - accuracy: 0.7359
Epoch 19/50
804/804 [==============================] - 1s 918us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 20/50
804/804 [==============================] - 1s 925us/step - loss: 0.5368 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 1s 928us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 22/50
804/804 [==============================] - 1s 935us/step - loss: 0.5367 - accuracy: 0.7376
Epoch 23/50
804/804 [==============================] - 1s 926us/step - loss: 0.5359 - accuracy: 0.7379
Epoch 24/50
804/804 [==============================] - 1s 909us/step - loss: 0.5362 - accuracy: 0.7385
Epoch 25/50
804/804 [==============================] - 1s 919us/step - loss: 0.5358 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 1s 981us/step - loss: 0.5353 - accuracy: 0.7395
Epoch 27/50
804/804 [==============================] - 1s 926us/step - loss: 0.5345 - accuracy: 0.7393
Epoch 28/50
804/804 [==============================] - 1s 976us/step - loss: 0.5345 - accuracy: 0.7393
Epoch 29/50
804/804 [==============================] - 1s 959us/step - loss: 0.5349 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 1s 958us/step - loss: 0.5344 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 1s 940us/step - loss: 0.5340 - accuracy: 0.7404
Epoch 32/50
804/804 [==============================] - 1s 944us/step - loss: 0.5340 - accuracy: 0.7399
Epoch 33/50
804/804 [==============================] - 1s 938us/step - loss: 0.5338 - accuracy: 0.7394
Epoch 34/50
804/804 [==============================] - 1s 931us/step - loss: 0.5333 - accuracy: 0.7396
Epoch 35/50
804/804 [==============================] - 1s 956us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 1s 945us/step - loss: 0.5338 - accuracy: 0.7401
Epoch 37/50
804/804 [==============================] - 1s 977us/step - loss: 0.5331 - accuracy: 0.7397
Epoch 38/50
804/804 [==============================] - 1s 919us/step - loss: 0.5328 - accuracy: 0.7411
Epoch 39/50
804/804 [==============================] - 1s 919us/step - loss: 0.5331 - accuracy: 0.7407
Epoch 40/50
804/804 [==============================] - 1s 912us/step - loss: 0.5326 - accuracy: 0.7418
Epoch 41/50
804/804 [==============================] - 1s 913us/step - loss: 0.5324 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 1s 922us/step - loss: 0.5324 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 1s 916us/step - loss: 0.5322 - accuracy: 0.7416
Epoch 44/50
804/804 [==============================] - 1s 928us/step - loss: 0.5319 - accuracy: 0.7413
Epoch 45/50
804/804 [==============================] - 1s 917us/step - loss: 0.5320 - accuracy: 0.7414
Epoch 46/50
804/804 [==============================] - 1s 966us/step - loss: 0.5319 - accuracy: 0.7416
Epoch 47/50
804/804 [==============================] - 1s 945us/step - loss: 0.5317 - accuracy: 0.7409
Epoch 48/50
804/804 [==============================] - 1s 943us/step - loss: 0.5314 - accuracy: 0.7414
Epoch 49/50
804/804 [==============================] - 1s 920us/step - loss: 0.5310 - accuracy: 0.7413
Epoch 50/50
804/804 [==============================] - 1s 956us/step - loss: 0.5306 - accuracy: 0.7416

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.
nn vs nn_A1 vs nn_A2 vs nn_A3

In [69]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 [==============================] - 0s 693us/step - loss: 0.5569 - accuracy: 0.7299
Loss: 0.5568832755088806, Accuracy: 0.729912519454956

In [70]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 [==============================] - 0s 761us/step - loss: 0.6055 - accuracy: 0.7285
Loss: 0.605517566204071, Accuracy: 0.7285131216049194

In [74]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_red_test_scaled, y__red_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 [==============================] - 0s 701us/step - loss: 0.6844 - accuracy: 0.5628
Loss: 0.6843533515930176, Accuracy: 0.5627988576889038

In [77]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 [==============================] - 0s 696us/step - loss: 0.5590 - accuracy: 0.7308
Loss: 0.5589563846588135, Accuracy: 0.7308454513549805

### Step 3: Save each of your alternative models as an HDF5 file.

In [78]:
# Set the file path for the first alternative model
file_path_A1 = Path('./Resources/Alphabet_Soup_A1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path_A1)

In [ ]:
# Set the file path for the second alternative model
file_path_A2 = Path('./Resources/Alphabet_Soup_A2.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path_A1)

In [ ]:
# Set the file path for the third alternative model
file_path_A3 = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE